.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  color: $color_dark;

  &--primary {
    background-color: $color_primary;
    color: $color_dark;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &--rounded {
    border-radius: 100px;
  }

  &--shadow {
    box-shadow: $shadow_button;
  }
}