$color_primary: #00ECC1;
$color_dark: #141414;
$color_green: #24AD7A;
$color_light-green: #EBFEFA;
$color_white: #fff;
$color_black:  #0000;
$color_placeholder: #EBEBEB;
$color_offWhite: #FAFAFA;
$color_borders: #565656;
