.h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
}

.h2 {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.14;
  text-transform: capitalize;
}

.h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
}

.h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: capitalize;
}